html, body {
    height: 100%;
    width: 100%;
  }

@media only screen and (max-width: 480px) {

    body {
        background-image: url(/image/pxfuel.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 1px;
        margin: 1px;
     }
     
     header {
         background-image: url(/image/bannerx.png);
        background-size: cover;
       background-repeat: no-repeat;
        background-position: center center;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 10px 20px;
         border-radius: 10px;
     }
     
     .logo {
         display: flex;
         justify-content: flex-start;
         width: 80px;
         height: 80px;
     }
     
     .logo, nav ul li a {
         color: azure;
     }
  

     
     #website {
         font-size: 18pt;
         font-family: "Jura";
         color: aliceblue;
         font-weight: 700;
         text-shadow: 2px 2px 5px whitesmoke;
     }
     
     nav ul {
         display: flex;
         justify-content: space-evenly;
         font-size: 16pt;
         gap: 1rem;
         font-family: "Jura";
     }
     
     nav ul li {
         list-style: none;
     }
     
     nav ul li a {
         text-decoration: none;
     }

    nav ul li a:hover {
      text-shadow: 2px 2px 5px ghostwhite;
      cursor: pointer;
      transition: background-color .3s ease;
    }
     

    #title {
        position: absolute;
        top: 20%;
        left: 60%;
        right: 2%;
        height: auto;
        color: aliceblue;
    }

  #img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

  #image {
    max-width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    }

    #image-caption {
        position: absolute;
        top: 23%;
        left: 10%;
        right: 10%;
        height: auto;
        color: aliceblue;
        text-shadow: 2px 2px 4px #000;
        font-size: 130px;
        font-weight: 900;
    }

    #tributeinfo {
      background-color: none;
      text-shadow: 10px 2px 10px black;
      color: white;
        position: absolute;
        top: 65%;
        left: 10%;
        right: 10%;
        height: auto;
      font-size: 25px;
      border-radius: 5px;
    }

    #tribute-link {
      background-color: none;
      color: white;
        position: absolute;
        top: auto;
        left: auto;
        right: 10%;
        height: auto;
        bottom: 1%;
      font-size: 25px;
      text-decoration: none;
      border-radius: 5px;
    }

  #tribute-link a {
     text-decoration: none;
     padding: 1px;
    color: black;
   }

    h6 {
        position: absolute;
        bottom: 0;
        left: 30%;
        color: aliceblue;
    }
  }
  
  
  @media only screen and (min-width: 481px) and (max-width: 800px) {

    body {
        background-image: url(/image/pxfuel.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 1px;
        margin: 1px;
     }
     
     header {
         background-image: url(/image/bannerx.png);
        background-size: cover;
       background-repeat: no-repeat;
        background-position: center center;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 10px 20px;
         border-radius: 10px;
     }
     
     .logo {
         display: flex;
         justify-content: flex-start;
         width: 80px;
         height: 80px;
     }
     
     .logo, nav ul li a  {
         color: azure;
     }
     
     #website {
         font-size: 18pt;
         font-family: "Jura";
         color: aliceblue;
         font-weight: 700;
         text-shadow: 2px 2px 5px whitesmoke;
     }
     
     nav ul {
         display: flex;
       justify-content: space-evenly;
         font-size: 16pt;
         font-family: "Jura";
         gap: 1rem;
     }
     
     nav ul li {
         list-style: none;
     }
     
     nav ul li a {
         text-decoration: none;
     }
     

    #title {
        position: absolute;
        top: 10%;
        left: 60%;
        right: 2%;
        height: auto;
        color: aliceblue;
        bottom: auto;
    }

    #img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

  #image {
    max-width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    }

    #image-caption {
        position: absolute;
        top: 35%;
        left: 5%;
        right: 5%;
        text-align: center;
        color: aliceblue;
      text-shadow: 2px 2px 4px #000;
        font-size: 80px;
        font-weight: 900;
    }

    #tributeinfo {
      background-color: none;
      text-shadow: 10px 2px 10px black;
      color: white;
        position: absolute;
        top: auto;
        left: 5%;
        right: 5%;
        bottom: 10%;
        height: auto;
        font-size: 30px;
      border-radius: 5px;
    }

    #tribute-link {
        background-color: aliceblue;
        position: absolute;
        top: auto;
        left: auto;
        right: 5%;
        height: auto;
        bottom: 10%;
        font-size: 20px;
        text-align: center;
        padding: 1px;
        margin: 1px;
        border-radius: 5px;
    }

    #tribute-link a {
     text-decoration: none;
     padding: 1px;
     background-color: none;
     color: white;
   }

    h6 {
        position: absolute;
        bottom: 0;
        left: 30%;
        color: aliceblue;
        font-size: 20px;
    }
  }
  
  @media only screen and (min-width: 801px) {

    body {
        background-image: url(/image/pxfuel.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 1px;
        margin: 1px;
     }
     
     header {
         background-image: url(/image/bannerx.png);
        background-size: cover;
       background-repeat: no-repeat;
        background-position: center center;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 10px 20px;
         border-radius: 10px;
     }
     
     .logo {
         display: flex;
         justify-content: flex-start;
         width: 80px;
         height: 80px;
     }
     
     .logo, nav ul li a {
         color: azure;
     }
     
     #website {
         font-size: 18pt;
         font-family: "Jura";
         color: aliceblue;
         font-weight: 700;
         text-shadow: 2px 2px 5px whitesmoke;
     }
     
     
     nav ul {
         display: flex;
       justify-content: space-evenly;
         font-size: 16pt;
         font-family: "Jura";
         gap: 1rem;
     }
     
     nav ul li {
         list-style: none;
     }
     
     nav ul li a {
         text-decoration: none;
     }
     

    #title {
        position: absolute;
        top: 10%;
        left: 70%;
        right: 2%;
        height: auto;
        color: aliceblue;
        font-size: 40pt;
    }

    #img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

  #image {
    max-width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    }

    #image-caption {
        position: absolute;
        top: 30%;
        left: 30%;
        right: 1%;
        height: auto;
        color: aliceblue;
      text-shadow: 2px 2px 4px #000;
        font-size: 100px;
        font-weight: 900;
    }

    #tributeinfo {
      background-color: none;
      text-shadow: 10px 2px 10px black;
      color: white;
        position: absolute;
        top: 55%;
        left: 10%;
        right: 10%;
        height: auto;
        font-size: 40px;
      border-radius: 5px;
    }

    #tribute-link {
      background-color: none;
      color: white;
        position: absolute;
        top: auto;
        left: auto;
        right: 1%;
        height: auto;
        bottom: 0;
        font-size: 25px;
      text-decoration: none;
    }

    #tribute-link a {
     text-decoration: none;
     padding: 1px;
     background-color: none;
     color: white;
   }

    h6 {
        position: fixed;
        bottom: -50px;
      transform: translateX(-50%);
        left: 50%;
        color: aliceblue;
        font-size: 15px;
    }
  }

 @media only screen and (min-width: 1000px) {

    body {
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding: 1px;
        margin: 1px;
     }
     
     header {
         background-image: url(/image/bannerx.png);
        background-size: cover;
       background-repeat: no-repeat;
        background-position: center center;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 10px 20px;
         border-radius: 10px;
     }
     
     .logo {
         display: flex;
         justify-content: flex-start;
         width: 80px;
         height: 80px;
     }
     
     .logo, nav ul li a {
         color: azure;
     }
     
     #website {
         font-size: 18pt;
         font-family: "Jura";
         color: aliceblue;
         font-weight: 700;
         text-shadow: 2px 2px 5px whitesmoke;
     }
     
     
     nav ul {
         display: flex;
       justify-content: space-evenly;
         font-size: 16pt;
         font-family: "Jura";
         gap: 1rem;
     }
     
     nav ul li {
         list-style: none;
     }
     
     nav ul li a {
         text-decoration: none;
     }
     

    #title {
        position: absolute;
        top: 15%;
        left: 70%;
        right: 2%;
        height: auto;
        color: aliceblue;
        font-size: 40pt;
    }

    #img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

  #image {
    max-width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    }

    #image-caption {
        position: absolute;
        top: 28%;
        left: auto;
        right: 5%;
        height: auto;
        color: aliceblue;
        font-size: 100px;
        font-weight: 900;
        text-shadow: 2px 2px 4px #000;
    }

    #tributeinfo {
        background-color: none;
        text-shadow: 10px 2px 10px black;
        color: white;
        position: absolute;
        top: 55%;
        left:75%;
        right: 5%;
        height: auto;
        font-size: 30px;
      border-radius: 5px;
      
    }

    #tribute-link {
        background-color: none;
        color: white;
        position: absolute;
        top: auto;
        bottom: -20px;
        left: auto;
        right: 3%;
        font-size: 25px;
        height: auto;
      border-radius: 5px;
      
    }

   #tribute-link a {
     text-decoration: none;
     padding: 1px;
     background-color: none;
     color: white;
   }
    
  }


